.discipline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.form-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 2em;
}

.basic-details {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    column-gap: 10em;

    .trivial-details {
        display: flex;
        flex-direction: column;
    }

    .institutional-details {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    .discipline-container {
        width: 100%;
    }

    .basic-details {
        column-gap: 5em;
    }
}