.discipline-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discipline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.form-container {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    row-gap: 2em;
}

.basic-details {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    column-gap: 10em;

    .trivial-details {
        display: flex;
        flex-direction: column;

        .label-data {
            display: flex;
        }
    }

    .institutional-details {
        display: flex;
        flex-direction: column;
    }
}

.label-box {
    padding-right: 1em;
}

.timetable-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-height: 200px;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 956px) {
    .discipline-container {
        width: 100%;
    }

    .form-container {
         display: flex;
         flex-direction: column;
    }

    .timetable-box {
        flex-wrap: nowrap;
    }

    .basic-details {
        display: flex;
        flex-direction: column;
    }
}