.disciplines-container {
    width: 90%;
    margin: auto;
}

.disciplines-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.search-box {
    display: flex;
    justify-content: space-between;
}

.button__container {
    display: flex;
    justify-content: center;
}

.actions-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .disciplines-container{
        width: 100%;
    }
}