.institution-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.institution-wrapper {
    max-height: 580px;
    overflow-y: auto;
    max-width: 90vh;
    min-width: 70vh;
}