.institution-container__edit {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
}

.institution-wrapper {
    max-height: 550px;
    max-width: 90vh;
    min-width: 70vh;
}

.submit-edit__button {
    margin-bottom: 2em !important;
}