@import '~react-pro-sidebar/dist/scss/styles.scss';

//bg #00344d
// #504881
// #b44b89
//color #fa605e
// #ffa600
$rich-black-fogra-29: #0c1618ff;
$deep-jungle-green: #004643ff;
$cornsilk: #faf4d3ff;
$metallic-gold: #d1ac00ff;
$peach-crayola: #f6be9aff;
.side {
    height: 100vh;
    background-color: #d36868;
}

.header {
    cursor: pointer;
}
.header:hover {
    color: #fa605e;
}

.basic-container {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}