.students-container {
    width: 90%;
    margin-top: auto;
}

.students-card {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.students-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-container { 
    flex: 1;
}

.search-box__student {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

.actions-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .students-container{
        width: 100%;
    }
}